name: Semantic Release

on: [push]

# Tests cannot run on windows due to issues with the windows server 2019 images 
# the github action runners are using not being able to run linux docker images
# https://github.com/actions/virtual-environments/issues/1143

permissions:
  id-token: write  # Required for OIDC
  contents: write  # To create GitHub releases

jobs:
  build:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [20, 22, 24]
        exist-version: [4.10.0, 5.4.1, release]
        experimental: [false]
        include:
          - node-version: 24
            exist-version: latest
            experimental: true
    services:
      # Label used to access the service container
      exist:
        image: existdb/existdb:${{ matrix.exist-version }}
        ports:
          - 8443:8443
          - 8080:8080
        volumes:
          - ${{ github.workspace }}/xquery:/exist/autodeploy
        options: >-
          --health-interval 4s
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm test
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24
      - name: Install dependencies
        run: npm ci
      - name: Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}